:root {
    --text: #333;
    --text-light: #666666;
    --text-lighter: #f0f0f0;
    --primary: #477FEB;
    --secondary-100: #CCC;
    --success: #29A352;
    --success-50: #E7F9ED;
    --success-100: #ADEBC2;
    --warning: #B88114;
    --warning-50: #FCF4E3;
    --warning-100: #F5DAA3;
    --danger: #A32929;
    --danger-50: #F9E7E7;
    --danger-100: #EBADAD --spacer-xxs: 4px;
    --spacer-xs: 8px;
    --spacer-sm: 16px;
    --spacer-md: 24px;
    --spacer-lg: 32px;
    --spacer-xl: 48px;
    --spacer-xxl: 64px;

}