<div class="card">
    <div class="card-header">
        <!-- tag : stock availability-->
        @if(product.availabilityStatus) {
        <ui-tag [tagText]="product.availabilityStatus" [tagColor]="getTagColor(product)"></ui-tag>
        }
        <img [src]="product.thumbnail" width="400" height="200" alt="{{ product.title }}">
    </div>
    <div class="card-body">
        <div class="card-info">
            <span class="category">{{product.category}}</span>
            <h3 class="title">{{ product.title }}</h3>
        </div>
        <p>{{ product.description }}</p>

        <div class="d-flex flex-justify-btw flex-align-center">
            <span class="price">{{ product.price | currency }}</span>
            <!-- button : buy now -->
            <ui-button buttonText="Buy now"></ui-button>
        </div>
    </div>
</div>